*.project
.pydevproject
*.pyc
host/build
host/old
tmp
extension/gpsio-chrome-extension
extension/gpsio-firefox-extension
extension/gpsio-edge-extension
installer/pkgbuild_root
installer/pkgbuild_scripts
.DS_Store
